{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import"
  ],
  "rules": {
    "comma-dangle": "off",
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "List"
        ]
      }
    ]
  }
}
