#[dotfiles]
.DS_Store

#[dotfolders]
.deos/

#[files]
npm-debug.log
yarn-error.log

#[folders]
etc/blockstack/*
etc/zerotier/*
node_modules/
var/log/*

#[wildcards]
*.o
*.pyc

#[except]
!etc/blockstack/.gitprivate
!etc/zerotier/.gitprivate
!var/log/.gitprivate
