#[wildcards]
*.o
*.pyc

#[dotfolders]
.deos/

#[folders]
etc/blockstack/*
etc/zerotier/*
node_modules/
var/log/deos/*

#[dotfiles]
.DS_Store

#[files]
npm-debug.log
yarn-error.log

#[except]
!etc/blockstack/.gitprivate
!etc/zerotier/.gitprivate
!var/log/deos/.gitprivate
