[submodule "ext/DeNGINX"]
	path = ext/DeNGINX
	url = https://github.com/DeSantisInc/DeNGINX.git
[submodule "ext/DeWIKI"]
	path = ext/DeWIKI
	url = https://github.com/DeSantisInc/DeWIKI.git
[submodule "ext/DeGIT"]
	path = ext/DeGIT
	url = https://github.com/DeSantisInc/DeGIT.git
[submodule "ext/DeWEB"]
	path = ext/DeWEB
	url = https://github.com/DeSantisInc/DeWEB.git
